.contact-links-container {
  text-align: center;
  padding: 40px 20px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.contact-intro-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
  line-height: 1.5;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.contact-item {
  margin: 20px;
  text-align: center;
}

.contact-label {
  font-size: 0.9rem;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact-info {
  font-size: 1rem;
  color: #333;
}

.contact-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #a76e60; /* Change to your brand color */
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 600px;
  text-align: center;
}

.calendar-label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.custom-calendar {
  border: none;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-calendar .react-calendar__tile--active {
  background: #a76e60 !important;
  color: #fff !important;
}

.custom-calendar .react-calendar__tile--hover {
  background: #e8d9d2;
}

.example-dates {
  display: flex;
  justify-content: space-between;
}

.example-date {
  display: flex;
  flex-direction: row;
}

.example-date-img {
  margin-left: 0.3rem;
  width: 3.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
