#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Задаем минимальную высоту для всей страницы */
}

.main-content {
  flex: 1;
  /* background-color: rgb(204, 175, 62); */
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/milestone-logistics-5e067.appspot.com/o/images%2Fphoto_2024-10-29%206.35.37%E2%80%AFPM.jpeg?alt=media&token=457d536f-4bd5-4745-9965-8a8c5f4bd28b'); */
}

@font-face {
  font-family: 'Montserrat';
  src: url('/public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/public/assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

p {
  font-family: 'Montserrat', serif;
}